body {font-family: 'Roboto', sans-serif; font-weight:300; overflow-x:hidden; }
h1, h2, h3, h4, h5 {font-family: 'Fjalla One', sans-serif; color:#131313;}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }
  .stk { background-color:#000; opacity:0.7;}
.carousel-inner { margin-top:-60px;}
.nav-item a { text-transform:uppercase;}
.bannerbot { margin-top:-350px;}
.bannerbot h2 {color:#fff; font-size:60px; font-weight:600; font-family: 'Roboto', sans-serif; padding-bottom:60px;}
.bannerbot input { padding:8px 7px 7px 7px; border:1px solid #ccc;}
.bannerbot button[type=submit] {
    background-color: #54b772;
    padding: 7px 7px;
    border: 1px solid #54b772;
    margin-left: -5px;
}
.banner-btn { width:170px; padding:8px 8px; border:1px solid #8a8888; text-transform:uppercase;}
.banner-btn:hover  {background-color:#54b772;}
.bannerbot .fa-search {padding:5px 8px;}
.bannerbot button:hover {background-color:#54b772;}
.hm-ban .fa-comments {padding-right:8px; font-size:22px;}
.fa-envelope-open-text {padding-right:8px; font-size:19px;}
.txt-1 { font-size:19px; font-weight:normal;}
h1 { font-size:34px;}
.hm-asia { background-color:#f6f3f3; margin-top:150px;}
.gallery img{height:232px;}
.love-india-1 { background-image:url(../images/kerala-h.png); width:365px; height:330px; }
.love-india-1:hover { background-image:url(../images/kerala.png); width:365px; height:330px; transition: .5s ease; }
.love-india-2 { background-image:url(../images/ladakh-h.png); width:365px; height:330px; }
.love-india-2:hover { background-image:url(../images/ladakh.png); width:365px; height:330px; transition: .5s ease;}
.love-india-3 { background-image:url(../images/taj-h.png); width:365px; height:330px; }
.love-india-3:hover { background-image:url(../images/taj.png); width:365px; height:330px;  transition: .5s ease;}
.love-india-4 { background-image:url(../images/kerala-back-water-h.png); width:365px; height:330px; }
.love-india-4:hover { background-image:url(../images/kerala-back-water.png); width:365px; height:330px;  transition: .5s ease;}
.love-india-5 { background-image:url(../images/golden-temple-h.png); width:365px; height:330px; }
.love-india-5:hover { background-image:url(../images/golden-temple.png); width:365px; height:330px; transition: .5s ease;}
.love-india-6 { background-image:url(../images/culture-h.png); width:365px; height:330px; }
.love-india-6:hover { background-image:url(../images/culture.png); width:365px; height:330px;  transition: .5s ease;}



.india-txt-top {color:#fff; font-size:20px; text-transform:capitalize; text-align:center; font-weight:bold; padding-top:20px; padding-bottom:270px; width:90%; margin:0 auto; height:50px;}
.india-txt-top h4 {color:#fff; font-size:14px; text-transform:capitalize; text-align:center;}
.india-txt-bottom {color:#fff; font-size:18px; text-transform:capitalize; text-align:center; font-weight:500; border-top:2px solid #fff; width:90%; margin:0 auto;}
.india a { text-decoration:none;}
.subscribe { width:80%; margin:0 auto;}
.subscribe form { margin-top:20px;}
.subscribe input[type=text] { width:70%; height:50px; float:left;}
.subscribe button{ width:20%; float:left; margin-left:1%; height:50px; font-size:20px; border:1px solid #060;}

.social-links .fab{
font-size: 26px;
padding: 4px 4px;
border: 50% 50%;
border: 1px solid #3aa784;
border-radius: 50% 50%;
width: 38px;
height: 38px;
color:#3aa784;
margin:8px;
}
/*
.img-container {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.img-container:hover .overlay {
  opacity: 
  0.8;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

*/

footer { background-color:#313131; padding:50px 0px; margin-top:30px; overflow:hidden;}
footer h5 {font-size:16px;}
footer ul li { margin-left:-35px;}
footer ul li a {color:#fff; text-decoration:none;}
footer ul li a:hover {color:#54b797; text-decoration:none;}
footer button { width:100%; margin-top:10px;}
footer .fotter-in { width:20%; float:left;}

/***************Inner**********************/
.parallax {
  background-image:url(../images/honemoon.jpg);
  min-height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-hm-banner {
  min-height: 800px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-hotel {
  min-height: 400px; 
  background-image:url(../images/hotel.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-about {
  min-height: 400px; 
  background-image:url(../images/about.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-down { border:1px solid #CCC; }
.box-in { border:1px solid #CCC; border-radius: 7px 7px 0px 0px;
-webkit-border-radius: 7px 7px 0px 0px;
-moz-border-radius: 7px 7px 0px 0px; background-color:#879893;}
.box-in h5 {color:#fff; font-size:16px; padding:7px; font-weight:bold;}
.sidebar { margin-bottom:10px;}
.search-box label { font-size:14px; font-weight:300; padding-left:15px;}
.search-box input[type="checkbox"] { margin-left:10px; border:1px solid #ccc;}
.txt-2  { color:#fff; font-size:19px; font-weight:bold; text-transform:capitalize; text-align:center; padding-top:24px; line-height:20px; width:80%; height:80px; margin:0 auto;}
.img-bg1 { background-image:url(../images/spa.png); width:100%; height:200px;}
.img-bg2 { background-image:url(../images/honeymoon-in-japan.png); width:100%; height:200px;}
.img-bg3 { background-image:url(../images/honeymoon-in-thailand.png); width:100%; height:200px;}
.img-bg4 { background-image:url(../images/honeymoon-in-cruise.png); width:100%; height:200px;}
.img-bg5 { background-image:url(../images/honeymoon-in-thailand-safari.png); width:100%; height:200px;}
.img-bg6{ background-image:url(../images/honeymoon-in-myanmar.png); width:100%; height:200px;}
.img-bg7 { background-image:url(../images/honeymoon-in-shangrilla.png); width:100%; height:200px;}
.img-bg8 { background-image:url(../images/honeymoon-in-japan2.png); width:100%; height:200px;}
.img-bg9 { background-image:url(../images/honeymoon-in-rajasthan.png); width:100%; height:200px;}

.pack .flag img{margin: 81px 100px; width:16%;}
.pack { width:100%; margin-bottom:20px;}
.pack .btn { width:120px;}
.pack h3 { font-size:16px; line-height:40px; border-bottom:1px solid #ccc;}
.pack ul li { list-style-type:square; font-size:13px; margin-left:-25px;}
.tc-results { font-weight:bold; color:#6c757d; font-size:18px;}
.grid .btn { width:150px;}
.grid-rgt { font-size:18px; font-weight:bold; color:#6c757d;}
.grid-rgt span {color:#359f4d;}
.pack .btn-secondary:hover { background-color:#359f4d;}
.pack a { text-decoration:none;}
.pack a:hover { text-decoration:none;}
.parallax-inner2 {
  background-image:url(../images/south-asia.jpg);
  min-height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerbot-in { margin-top:-200px;}
.bannerbot-in h2 {color:#fff; font-size:50px; font-weight:600; font-family: 'Roboto', sans-serif; padding-bottom:20px;}
.bannerbot-in input { padding:8px 7px 7px 7px; border:1px solid #ccc;}
.bannerbot-in button[type=submit] {
    background-color: #54b772;
    padding:12px;
    border: 1px solid #54b772;
    margin-left: -5px;
}
.searching { background-color:#abaaa8; padding:15px; border-radius:7px;}
.searching select { height:40px; color:#28a745; font-weight:bold;}
.txt-3 { text-transform:uppercase; font-size:19px; line-height:40px;}
.top-ban-search { background-color:#fff; padding:15px; border-radius:7px; opacity:0.85;}
.top-ban-search select{ height:40px; color:#28a745; font-weight:bold;}
.txt-4 { text-transform:uppercase; font-size:19px; line-height:40px;}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 12px 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align:center;
  font-size:20px;
}
.menu-sub .box-type-4{ width:25%; float:left;}
.menu-sub .box-type-3{ width:38%; margin:1%; float:left;}
.box-type-3-1 { width:60%; float:right;}
nav {z-index:999;}
.nav-logo-wrap {
    float: left;
    margin-right: 20px;
    height: 50px
}

.nav-logo-wrap .logo {
    font-family: Dosis, Arial, sans-serif;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: 5px;
    -webkit-transition: all .27s fade(0, 0, .58, 1);
    -moz-transition: all .27s fade(0, 0, .58, 1);
    -o-transition: all .27s fade0, 0, .58, 1);
    -ms-transition: all .27s fade(0, 0, .58, 1);
    transition: all .27s cfade(0, 0, .58, 1);
    text-transform: uppercase!important;
    color: #888
}

.nav-logo-wrap .logo img {
    max-height: 100%
}

.nav-logo-wrap .logo span.higl {
    color: #00b2ca;
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-animation: rotate-letter 15s infinite;
    -moz-animation: rotate-letter 15s infinite;
    -o-animation: rotate-letter 15s infinite;
    -ms-animation: rotate-letter 15s infinite;
    animation: rotate-letter 15s infinite
}

.nav-logo-wrap .logo:after,
.nav-logo-wrap .logo:before {
    display: none
}

.logo,
a.logo:hover {
    font-family: Dosis, arial, sans-serif;
    font-weight: 400!important;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, .9)
}
.menu-adventure .advn-box-1{ width:20%; float:left;}
.menu-adventure .advn-box-2{ width:40%; float:left;}
.menu-adventure .advn-box-3{ width:40%; float:left;}
.menu-adventure .advn-box-4{ width:20%; float:left;}
.view button { margin:5px; padding:7px 50px; color:#777; font-weight:300;}
.share {margin-top:50px;}
.share button { margin:5px; padding:7px 50px; color:#777; font-weight:300;}
.share .fas {color:#72c618; font-size:22px; padding-right:10px;}
.share .far {color:#72c618; font-size:22px; padding-right:10px;}
.txt-5 {color:#067954; font-size:20px; margin-top:15px;}
.bs-example { margin-top:50px;}
.bs-example .btn-link {color:#fff!important;}
.bs-example .btn {padding:0px; text-decoration:none;}
.card-header { background-color:#2d9171!important; color:#fff;}
.card-body h4 {color:#2d9171; font-size:19px;}
.service { border:1px solid #2d9171; margin:5px;}
.service ul li { list-style:square; margin-left:-20px; margin-bottom:10px;line-height:28px;}
.service .txt-6 {color:#08710a; font-size:19px; font-weight:bold;}
.fa-clipboard-list {color:#7ab964; font-size:50px;}
.fa-comments {color:#7ab964; font-size:50px;}
.lets .fa-share-alt {color:#7ab964; font-size:40px; margin-bottom:20px;}
.fa-star {color:#fff;}
.why p { text-align:justify;}
 .exo-logo1 {
    background:url(../images/logo-1.png) 20px 7px no-repeat;
   width: 226px;
height: 70px;
}

.exo-logo2 {
    background:url(../images/logo-2.png) 20px 5px no-repeat;
     width:312px;
height: 70px;
}

.fadeInLoad {
    animation: fadeInLoad 4s
}
 .small-height {
    height: 72px !important;
 }